/*
 * Custom CSS file.
 *
 */
/* Text Styling */
h1 {
  padding-bottom: 0.5em;
  font-size: 1.5em;
}
 /* Global classes. */
 .max-width {
   max-width: 26em;
 }
.auto-center {
  margin: 0 auto;
}
.block-display {
  display: block;
}
.inner-text-spacing {
  padding-top: 1em;
}
.bottom-spacing {
  margin-bottom: 1em;
}
.no-right-padding {
  padding-right: 0;
}
.no-left-padding {
  padding-left: 0;
}
/* Button Styling */
.right-buttons {
  padding-top: 1em;
  text-align: right;
}
.mobile-button {
  width: 100%;
  display: block;
  margin-bottom: 1em;
  background-color: #555;
  color: #fff;
}
.mobile-button:hover {
  background-color: #222;
  color: #fff;
}
.mobile-button-big {
  width: 100%;
  display: block;
  margin-bottom: 0.5em;
  padding: 1em 0;
  font-size: 1.4em;
  background-color: #555;
  color: #fff;
}
/* Picture Notes */
.picture-it {
  max-width: 5em;
  height: auto;
  border-radius: 0.2em;
}
/* Events List Page */
.events h1 {
  padding-bottom: 0;
}
.events h2 {
  margin-top: 0;
  font-size: 1.2em;
}
.events .mobile-button {
 margin-bottom: 0.2em;
}
.event-item {
  padding: 0.5em;
  background-color: #BFBFBF;
}
.events .mobile-button-big {
  margin-bottom: 0.1em;
}
.invert-event {
  background-color: #E8E8E8;
}

/* FontAwesome */
.fa {
  margin-right: 0.3em;
}

/* Bootstrap Overides */
.form-control {
  font-size: 1.4em;
}
